@font-face {
  font-family: 'Museo Sans';
  src: url(../fonts/museo-sans-rounded.otf);
}

@font-face {
  font-family: 'Museo Sans';
  src: url(../fonts/museo-sans-rounded-bold.otf);
}

html {
  line-height: 1.7;
  transition: all 0.3s ease-out;
}

body {
  background-color: #ffffff;
}

body, p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.m-a {
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4, h5, h6, a {
  font-family: 'Museo Sans', serif;
  color: #242a37;
}

::selection {
  background-color: #242a37;
  color: #ffffff;
  text-shadow: none;
}

section {
  position: relative;
}

a, p, ul {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.7;
  font-weight: 400;
}

a:focus {
  outline: 0;
}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: 600;
}

h2 {
  font-size: 44px;
  line-height: 1.4;
}

h3 {
  font-size: 27px;
  line-height: 1.4;
}

h4 {
  font-size: 14px;
  line-height: 1.2;
}

h1 {
  font-size: 60px;
  line-height: 1.2;
  font-weight: 600;
  margin: 0;
}

h2+p.label, h3+p.label {
  margin: 5px 0 25px;
}

.lead {
  margin-top: 25px;
  margin-bottom: 25px !important;
}

/* utilities */

.accent, .accent::selection {
  color: #7ad71f;
}

.normal {
  font-weight: 400;
}

.valign-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.valign-wrapper>.row {
  width: 100%;
}

.valign-wrapper>.valign {
  display: block;
}

.center-align {
  text-align: center;
}

.full-width {
  width: 100%;
}

.p-b-md {
  padding-bottom: 30px;
}

.p-b-sm {
  padding-bottom: 20px;
}

.p-b-xs {
  padding-bottom: 10px;
}

.no-underline, .no-underline:hover {
  text-decoration: none;
}

.one-vh {
  height: 100vh;
}

.float-right {
  float: right;
}

.hidden-below-md {
  display: none;
}

.visible-below-md {
  display: block;
}

@media (min-width: 992px) {
  .hidden-below-md {
    display: initial;
  }
  .visible-below-md {
    display: none;
  }
}

.label {
  color: #9394A7;
  margin: 5px 0;
  font-weight: 600;
}

.nav-link, .label {
  font-size: 12px;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.section-label {
  font-size: 20px;
}

.section-label:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -10px;
  height: 6px;
  width: 60px;
  border-bottom: 6px solid #7ad71f;
}

.section-banner {
  height: 80px;
}

.section-banner .section-label:before {
  right: unset;
  left: 15px;
  top: 30px;
  bottom: unset;
}

.nav-link, .label, .section-label {
  font-family: 'Museo Sans', sans-serif;
}

/* nav bar */

nav {
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: transparent;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}

nav.active {
  background-color: #fff;
  border-bottom: 1px solid #F2F3F6;
}

nav .container {
  width: 90%;
}

nav .container, nav .nav-left, nav .nav-right, .logo-wrapper, .nav-right .valign-wrapper {
  height: 60px;
}

.nav-left {
  width: 45px;
  float: left;
}

img.logo {
  height: 45px;
  width: 45px;
  margin: 0 auto;
}

.nav-right {
  width: 410px;
  float: right;
}

nav a {
  font-size: 1rem;
  line-height: 1.6667em;
}

a:hover {
  text-decoration: none;
}

a.strike-through {
  position: relative;
  color: #474a4c;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  -webkit-transition: opacity .3s, color .5s cubic-bezier(.55, .055, .675, .19);
  transition: opacity .3s, color .5s cubic-bezier(.55, .055, .675, .19);
  text-decoration: none;
  padding: 0 8px;
  margin-left: 20px;
  letter-spacing: 1px;
  font-weight: 400;
  cursor: pointer;
}

a.strike-through:before {
  content: '';
  border-top: 1em solid #7ad71f;
  position: absolute;
  margin: 0 auto;
  width: 0;
  left: 0;
  right: 0;
  top: 53%;
  -webkit-transition: width .3s cubic-bezier(.68, 0, .33, 1) .1s;
  transition: width .3s cubic-bezier(.68, 0, .33, 1) .1s;
  -webkit-transition: width .3s cubic-bezier(.68, 0, .33, 1) .1s, border-color .5s cubic-bezier(.55, .055, .675, .19);
  transition: width .3s cubic-bezier(.68, 0, .33, 1) .1s, border-color .5s cubic-bezier(.55, .055, .675, .19);
  z-index: -1;
}

a.strike-through:hover:before, a.strike-through.active:before {
  width: 100%;
}

a.strike-through.button {
  letter-spacing: 0;
  font-size: 13px;
  font-weight: 700;
  margin-left: 0;
  padding: 0 4px;
}

/* main */

.hero-image {
  position: absolute;
}

.hero-image__img {
  height: 450px;
  position: absolute;
  right: 0;
  z-index: -1;
}

.fixed-to-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}

.section-header {
  position: absolute;
  z-index: 10;
}

.section-header.left {
  text-align: left;
  top: 60px;
  left: 7.5%;
}

.section-header.right {
  text-align: right;
  top: 60px;
  right: 7.5%;
}

/* works */

#work, #principles, #myself, .footer {
  padding-top: 100px;
}

.section-label.fixed {
  position: fixed;
  top: 100px;
  right: 7.5%;
  z-index: 4;
}

.section-header.bottom-offset {
  top: auto;
  bottom: 120px;
}

#work .card {
  position: relative;
  height: 525px;
  background-color: #FFF;
  margin-bottom: 40px;
  overflow: hidden;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.04);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.04);
  -webkit-transition: all .4s;
}

#work .card:hover {
  -webkit-box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.08);
}

#work .card a {
  width: 100%;
  height: 100%;
}

#work .card-image {
  background-size: cover;
  background-position: left center;
  position: relative;
  width: 100%;
  height: 385px;
  overflow: hidden;
}

#work .card-desc {
  position: absolute;
  bottom: 0;
  height: 140px;
  width: 100%;
  background-color: #fefefe;
  padding: 35px 25px;
  border-radius: 0 0 4px 4px;
  z-index: 1;
  transition: all 0.25s ease-in-out;
}

#work .label span, .case-study .label span {
  margin-right: 10px;
  text-transform: uppercase;
}

#work .card-desc-panel {
  color: #4E5067;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}

#work .card i.material-icons {
  color: #9394A7;
  font-size: 27px;
  line-height: 1.4;
}

#work a:hover i.material-icons {
  color: #7ad71f;
}

#work a:hover .card-desc {
  height: 280px;
}

#work a:hover .card-desc-panel {
  opacity: 1;
}

#work .project-one {
  background-image: url(../images/01.jpg);
}

#work .project-two {
  background-image: url(../images/02.jpg);
}

#work .project-three {
  background-image: url(../images/03.jpg);
}

/* principles */

.green {
  color: #B8E986;
}

.orange {
  color: #FA6900;
}

.red {
  color: #f44336;
}

.yellow {
  color: #F9D423;
}

.purple {
  color: #9995b1;
}

.pink {
  color: #f4828c;
}

.teal {
  color: #006d68;
}

.violet {
  color: #6e00b3;
}

.blue {
  color: #69D2E7;
}

.col-header>.material-icons {
  margin-right: 20px;
}

.col-header>span {
  font-size: 20px;
}

.col-content li {
  font-size: 16px;
}

/* myself */

.informal p {
  font-size: 16px;
  width: 100%;
}

.informal h4 {
  color: #656464;
  font-size: 14px;
  text-transform: uppercase;
}

.informal p strong {
  color: #7dd724;
  display: block;
  letter-spacing: 0.5px;
  font-size: 12px;
  text-transform: uppercase;
}

/* contact */

.important-note {
  position: absolute;
  bottom: 0;
}

.important-note__text, .important-note a {
  font-size: 11px;
}

li.icon.myanimelist:before {
  content: "MAL";
  font-family: "Open Sans";
  font-weight: bolder;
  font-size: 11px;
  color: black;
  border-radius: 0;
}

.icon {
  text-decoration: none;
  position: relative;
  border-bottom: none;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.footer {
  padding-top: 80px;
  position: relative;
  z-index: 1;
}

#contact .height-wrapper {
  height: 500px;
}

ul.contact-icons {
  list-style: none;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

ul.contact-icons>li a {
  border-bottom: 0;
  text-decoration: none;
}

ul.contact-icons>li {
  margin: 1.25rem 0 0 0;
  padding-left: 0;
  width: 100%;
}

ul.contact-icons>li:before {
  display: inline-block;
  width: 2.25rem;
  height: 2.25rem;
  line-height: 2rem;
  border-radius: 2.25rem;
  background-color: white;
  color: #2e2b37;
  cursor: default;
  font-size: 1.125rem;
  margin-right: 1rem;
  text-align: center;
  vertical-align: middle;
}

#contact a:hover {
  border-bottom-color: transparent;
  color: #7ad71f;
}

#contact a:hover+li.icon {
  color: #7ad71f;
}

.hidden {
  display: none;
}

/* footer */

footer {
  background-color: #fff;
  border-top: 1px solid #F2F3F6;
  height: 41px;
  margin-top: 100px;
  width: 100%;
}

footer .container {
    height: 40px;
    margin: 0 auto;
    width: 90%;
}

.footer--text {
    line-height: 25px;
    font-size: 16px;
}

footer img {
    line-height: 40px;
    vertical-align: middle;
    position: relative;
    bottom: 2px;
    margin: 0 10px;
}

/*  project-page  */

#header.case-study {
  background-color: #fff;
  border-bottom: 1px solid #F2F3F6;
}

.case-study section {
  padding-top: 100px;
}

.wrapper {
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

.case-study #project-hero {
  min-height: 800px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#project-hero {
  position: relative;
  min-height: 650px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.max-width {
  max-width: 1200px;
  margin: 0 auto;
}

.img-wrapper {
  margin: 10px;
}

.img-wrapper>img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.case-study .nav-right {
  width: 538px;
}

.case-study p {
  margin: 0;
}

.case-study li {
  font-size: 18px;
  margin-left: 25px;
  line-height: 1.7;
  margin-bottom: 5px;
}

.case-study p.label {
  font-size: 16px;
}

.case-study h2 {
  font-weight: 400;
}

.case-study p+p {
  margin-top: 25px;
}

.case-study p {
  margin: 0;
  font-size: 18px;
  line-height: 1.7;
}

.case-details p {
  color: #7dd724;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

.case-details span {
  font-size: 16px;
}

.case-study code {
  color: #7dd724;
  font-weight: 700;
}

/* modal */

.modal-overlay {
  display: none;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #242a37;
  overflow-y: auto;
  z-index: 1000;
}

.modal-overlay * {
  color: #fff;
}

.modal-wrapper {
  width: 100%;
  height: 100vh;
}

.top-header {
  border-bottom: 1px solid #4d4d4d;
  height: 60px;
  background-color: #242a37;
}

.top-header .nav-right {
  width: 60px !important;
}

.slider-wrapper {
  width: 100%;
  height: 100vh;
  padding-top: 60px;
}

.sy-slide>a>img {
  margin: 0 auto;
  padding: 0;
  display: block;
  max-width: 100%;
  width: auto;
  max-height: calc(100vh - 100px);
  border: 0;
}

.sy-box {
  height: calc(100vh - 100px);
}

.sy-pager {
  margin: 10px 0 0;
  height: 10px;
}

.sy-pager li {
  width: 10px;
  height: 10px;
  margin: 0 10px 0 0;
}

.sy-pager li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 1em 0 0;
  border-radius: 50%;
}

.sy-pager li.sy-active a {
  background-color: #7ad71f;
}

.sy-caption-wrap .sy-caption a:link, .sy-caption-wrap .sy-caption a:visited {
  color: #7ad71f;
}

.sy-controls li a:after {
  background-image: url(../images/arrow-right.png);
}

.sy-controls li.sy-prev a:after {
  background-image: url(../images/arrow-left.png);
}

@media (min-width: 768px) {
  .hidden-on-mobile {
    display: initial;
  }
  .hidden-on-large {
    display: none;
  }
}

/* mobile device */

@media (max-width: 768px) {
  .hidden-on-mobile {
    display: none;
  }
  .hidden-on-large {
    display: initial;
  }
  h2 {
    font-size: 36px;
  }
  nav>.container {
    margin: 0;
    width: 100%;
  }
  #content-wrapper {
    padding-left: 25px;
    padding-right: 25px;
  }
  .header .nav-right, .case-study .nav-right {
    width: 280px;
  }
  .case-study li {
    margin-left: 0px;
  }
  .case-study p, .case-study li {
    font-size: 16px;
  }
  .case-details p {
    font-size: 12px;
  }
}
